<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>嘿嘿</title>
  <link rel="icon" href="logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="plyr.css">
  <link rel="stylesheet" href="normalize.min.css">
</head>

<body class="theme drak"> <!-- white -->
  <main>
    <section class="playInterface">
      <div class="toHref">
        <button onclick="window.location.href='/python'">添加</button>
        <button onclick="handleMode()">切换模式</button>
        <button class="layui-btn popList">目录列表</button>
        <!-- <button onclick="handleMode()">切换模式</button> -->
        <form class="layui-form" action="">
          <div class="layui-input-block">
            <select name="interest" lay-filter="college" lay-verify="required">
              <option value="0">递增</option>
              <option value="1" selected="">递减</option>
            </select>
          </div>
        </form>

      </div>
      <video id="video" style="display: none;" controls crossorigin playsinline poster="">
        <source type="video/mp4">
      </video>
    </section>
    <section class="coverList">
      <div class="toSearch">
        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="搜索" class="layui-input">
        <button id="search">搜索</button>
        <button id="close">关闭</button>
      </div>
      <ul>
        {% for item in coverList %}
        <li data-time="{{item.stampTime}}">
          <span class="index">{{loop.index}}</span>
          <p>
            <span>{{item.datails.time}}</span>
            <span>{{item.datails.size}}</span>
          </p>
          <img src="{{item.cover}}" data-url="{{item.url}}" alt="">
          <video style="display: none;" autoplay muted src="" data-src="{{item.preview}}"></video>
          <h4>{{item.name}}</h4>
        </li>
        {% endfor %}
      </ul>
    </section>
    <!-- <button class="scroll toleft"><img src="/left.png" alt=""></button>
    <button class="scroll toright"><img src="/right.png" alt=""></button> -->
  </main>

</body>
<script src="jquery.min.js"></script>
<script src="plyr.min.js"></script>
<script src="polyfill.min.js"></script>
<script src="layui/layui.js"></script>
<script>
  $(document).ready(function () {
    const player = new Plyr('#video', {
      disableContextMenu: false,
      /* selected：默认播放速度。options：在 UI 中显示的速度选项。YouTube 和 Vimeo 将忽略 0.5-2 范围之外的任何选项，因此该范围之外的选项将自动隐藏。 */
      selected: 1, options: [0.5, 0.75, 1, 1.25, 1.5, 1.75, 2, 4],
      /* enabled：允许使用本地存储来存储用户设置。key：要使用的键名称。 */
      enabled: true, key: 'plyr',
      /* 将当前时间显示为倒计时而不是增量计数器。 */
      invertTime: true,
      /* 默认音量 */
      volume: 1,
      /* 快进时间 */
      seekTime: 10

    });
    window.player = player
  })
  function handleMode() {
    if ($('body.theme').hasClass('drak')) {
      $('body.theme').addClass('white').removeClass('drak')
    } else {
      $('body.theme').addClass('drak').removeClass('white')
    }
  }
</script>
<script src="js/index.js"></script>

</html>
