<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="layui/css/layui.css">
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="plyr.css">
  <link rel="stylesheet" href="normalize.min.css">
</head>

<body class="theme drak"> <!-- white -->
  <main>
    <section class="playInterface">
      <div class="toHref">
        <button><a href="/python">添加</a></button>
        <button onclick="handleMode()">切换模式</button>
        <button class="layui-btn popList">目录列表</button>
        <!-- <button onclick="handleMode()">切换模式</button> -->
        <form class="layui-form" action="">
          <div class="layui-input-block">
            <select name="interest" lay-filter="college" lay-verify="required">
              <option value="0">递增</option>
              <option value="1" selected="">递减</option>
            </select>
          </div>
        </form>

      </div>
      <video style="display: none;" controls crossorigin playsinline poster="">
        <source type="video/mp4">
      </video>
    </section>
    <section class="coverList">
      <div class="toSearch">
        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="搜索" class="layui-input">
        <button id="search">搜索</button>
        <button>关闭</button>
      </div>
      <ul>
        {% for item in coverlist %}
        <li data-time="{{item.stampTime}}">
          <span class="index">{{loop.index}}</span>
          <p>
            <span>{{item.datails.time}}</span>
            <span>{{item.datails.size}}</span>
          </p>
          <img src="{{item.img}}" data-url="{{item.url}}" alt="">
          <h4>{{item.name}}</h4>
        </li>
        {% endfor %}
      </ul>
    </section>
    <!-- <button class="scroll toleft"><img src="/left.png" alt=""></button>
    <button class="scroll toright"><img src="/right.png" alt=""></button> -->
  </main>

</body>
<script src="jquery.min.js"></script>
<script src="plyr.min.js"></script>
<script src="polyfill.min.js"></script>
<script src="layui/layui.js"></script>
<script>

  function handleMode() {
    if ($('body.theme').hasClass('drak')) {
      $('body.theme').addClass('white').removeClass('drak')
    } else {
      $('body.theme').addClass('drak').removeClass('white')
    }
  }
  $(document).ready(function () {
    const player = new Plyr('video');
    // Expose player so it can be used from the console
    $('.coverList li').each((index, item) => {
      $(item).on('click', () => {
        const url = $(item).find('img').data('url')
        $('video').attr('poster', $(item).find('img').attr('src'))
        $('.coverList li').each((index, item) => {
          $(item).removeClass('acitve')
        })
        $(item).addClass('acitve')
        // 更新 Plyr 实例的源 URL
        // 更新 <source> 元素的 src 属性
        const sourceElement = player.elements.wrapper.querySelector('source');
        sourceElement.src = url;
        // 更新 Plyr 实例的源
        player.source = {
          type: 'video',
          sources: [
            {
              src: url,
              type: 'video/mp4',
            },
          ],
        };
        player.poster = $(item).find('img').attr('src')
      })
    })

    $('video source').attr('src', $('.coverList li').eq(0).find('img').data('url'))
    setTimeout(() => {
      $("video").show()
    }, 500)


    // document.addEventListener('keydown', function (event) {
    //   // 检查是否按下了空格键 (keyCode 32)
    //   if (event.keyCode === 32) {
    //     event.preventDefault(); // 阻止默认行为
    //     if (video.paused) {
    //       video.play();
    //     } else {
    //       video.pause();
    //     }
    //   } else if (event.keyCode === 37) {
    //     event.preventDefault(); // 阻止默认行为
    //     // 检查是否按下了左键 (keyCode 37) 回退10秒
    //     video.currentTime -= 10;
    //   } else if (event.keyCode === 39) {
    //     event.preventDefault(); // 阻止默认行为
    //     // 检查是否按下了右键 (keyCode 39) 前进10秒
    //     video.currentTime += 10;
    //   } else if (event.keyCode === 38) {
    //     event.preventDefault(); // 阻止默认行为
    //     // 检查是否按下了上键 (keyCode 38) 音量+10
    //     video.volume = (video.volume + 0.1 > 1) ? 1 : video.volume + 0.1;
    //   } else if (event.keyCode === 40) {
    //     event.preventDefault(); // 阻止默认行为
    //     // 检查是否按下了下键 (keyCode 40) 音量-10
    //     video.volume = (video.volume - 0.1 < 0) ? 0 : video.volume - 0.1;
    //   }
    // });
  })
</script>
<script src="js/index.js"></script>

</html>
