:root {
  --themeColor: #fff;
  --dark: #000
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--themeColor);
}

body.drak {
  background-color: var(--dark);
}

main {
  height: 100%;
  color: var(--themeColor);
  background-color: var(--themeColor);
  overflow: hidden;
  display: grid !important;
  grid-template-columns: 80% 20%;
  padding: 0;
  gap: 10px;
}

.drak main {
  background-color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--themeColor);
  font-weight: 600;
}

a:hover {
  color: var(--themeColor);
}

.toHref {
  margin: 0;
  width: calc(100% - 30px);
  font-size: 14px;
  height: 30px;
  text-align: left;
  line-height: 30px;
  background-color: var(--themeColor);
  /* border-radius: 10px; */
  translate: 0 -5px;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  gap: 5px;
  position: relative;
  z-index: 99;
  user-select: none;
  color: #000;
}

.drak .toHref {
  background-color: var(--dark);
}

.toSearch button,
.toHref button {
  background-color: var(--dark);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  padding: 1px 10px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}

.drak .toSearch button,
.drak .toHref button {
  background-color: var(--dark);
  color: var(--themeColor);
}

.toSearch button:hover,
.toHref button:hover {
  background-color: #5776ff !important;
  color: var(--themeColor);
}

.playInterface {
  width: 100%;
  margin: 0 auto;
  /* border-radius: 10px; */
  padding-top: 10px;
}

.coverList {
  overflow: hidden;
  height: 100%;
  border-radius: 3px;
  padding-right: 10px;
  background: var(--themeColor);
  position: relative;
}

.drak .coverList {
  background: var(--dark);
}

.coverList ul {
  height: calc(100% - 70px);
  user-select: none;
  display: grid;
  gap: 10px;
  overflow: hidden;
  border-radius: 10px;
  padding-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 55px;
}

.coverList li {
  flex-shrink: 0;
  /* 设置为 0，禁止收缩 */
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 5px 0 5px;
  position: relative;
  margin: 0 5px;
  box-shadow: 0px 0px 3px var(--dark);
}

.drak .coverList li {
  box-shadow: 0px 0px 3px var(--themeColor);
}

.coverList li.acitve::after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  top: 121px;
  left: 50%;
  translate: -50% -50%;
  background: url(./play.png) no-repeat;
  background-size: 100%;
}

.coverList li:hover img,
.coverList li.acitve img {
  filter: brightness(0.3);
}

.coverList li p {
  position: absolute;
  top: 225px;
  width: 94%;
  display: flex;
  justify-content: space-between;
  margin: 0 7px;
  z-index: 999;
}

.coverList li p span {
  background: #000;
  padding: 1px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.coverList li img {
  width: 100%;
  height: 242px;
  border-radius: 10px;
  object-fit: cover;
}

.coverList li h4 {
  /* height: 135px; */
  font-size: 14px;
  color: #000;
  margin-top: 0;
  background-color: var(--themeColor);
  padding: 10px;
  padding-top: 5px;
  border-radius: 10px;
  transform: translateY(0);
  transition: .3s transform ease-in-out;
  user-select: text;
  margin: 0;
}

.drak .coverList li h4 {
  color: #fff;
  background-color: var(--dark);
}

.index {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 999;
  border-radius: 50% 0 0 0;
  background-color: #000000;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.coverList .toSearch {
  margin-top: 10px;
  border-radius: 0;
  height: 50px;
  position: fixed;
  width: 20%;
  display: flex;
  gap: 5px;
  z-index: 99999;
  padding-top: 5px;
}

.coverList .toSearch input {
  width: 70%;
  border: none;
  height: 30px;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  transition: none;
}

.drak .coverList .toSearch input {
  background-color: #fff;
  color: #000;
}

.toHref .layui-form {
  width: 80px;
}

.toHref .layui-form .layui-input-block {
  height: 30px;
  margin: 0;
}

.toHref .layui-form-select .layui-input {
  height: 30px;
}

.toHref .layui-input {
  border-color: #000 !important;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  user-select: none;
  transition: none;
}

.drak .toHref .layui-input {
  background-color: #000;
  color: #fff;
}

.toHref .layui-form-select .layui-edge {
  border-top-color: #fff;
}

.layui-input:focus,
.layui-textarea:focus {
  box-shadow: none
}

.layui-input:focus,
.layui-textarea:focus {
  border-color: transparent !important;
}

.site-dropdown-demo,
.site-dropdown-demo .layui-menu {
  background-color: #000;
  border: none;
  overflow: hidden;
  border-radius: 3px;
}

.site-dropdown-demo .layui-menu-body-title {
  padding: 0;
  color: #fff;
  padding: 3px 10px;
  font-size: 14px;
}

.site-dropdown-demo li:hover {
  background-color: #ffffff30;
}

.coverList.layui-layer-wrap ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}

.coverList.layui-layer-wrap .toHref {
  width: 98%;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.plyr {
  height: calc(100% - 60px) !important;
}
